body {
  background-color: #091218;
  color: #F8F8F4;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  color: #F8F8F4;

  text-indent: 3em;
  line-height: 1.5;
}

#header {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #F8F8F4;
  margin-bottom: 15px;
}

#tabCTN {
  overflow: hidden;
  display: inline-block;
  margin-top: 10px;
}

.tab,.selectedtab,.title{
  float: left;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  margin-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.tab{
  color: #abb1b3;
}

.title{
  display: inline-block;
  font-weight: 800 !important;
  font-size: 48px !important;
  color: #F8F8F4;
}

#selectedtab{
  color: #F8F8F4;
}

@media only screen and (max-width: 750px) {

  body { 
    font-size: 1em !important; 
  }

  .title{
    font-size: 6.66vw !important;
  }

}