body {
  background-color: #091218;
  color: #F8F8F4;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #F8F8F4;
  letter-spacing: 1px;

  text-indent: 3em;
  line-height: 1.5;
}

#content {
  width: 100%;

}

#header {
  overflow: hidden;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #F8F8F4;
  position: sticky;
}

#tabCTN {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

.tab,.selectedtab,.title,.dropdowntext {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.tabdiv {
  width: min-content;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.tab{
  color: #abb1b3;
  display: inline-block;
}
.tab:hover{
  color: #dfe4e6;
  transition: color 0.3s ease;
}
#selectedtab{
  color: #F8F8F4;
  transition: color 0.3s ease;
}

#dropdownCTN {
  border-bottom: 1px solid #F8F8F4;
  margin-bottom: 10px;
}
.dropdown {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}
.dropdowntext {
  font-size: 18px !important;
  font-weight: 400 !important;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: none;
  color: #abb1b3;
}

.title {
  font-weight: 800 !important;
  font-size: 48px !important;
  color: #F8F8F4;
  margin-right: 10px;
  display: inline-block;
}

.menu {
  font-weight: 700 !important;
}

@media only screen and (max-width: 890px) {

  body { 
    font-size: 1em !important; 
  }

  .title{
    font-size: 6.66vw !important;
  }

  #header {
    text-align: center !important;
  }

  #tabCTN {
    margin-top: 0px !important;
  }

}